<div class="my-4">
	<!-- Form tìm kiếm -->
	<partial name="_SearchForm"/>

	<!-- Các chuyên mục/chủ đề -->
	@await Component.InvokeAsync("CategoriesWidget")

	<!-- Top bài viết nổi bật -->
	<h1>
		Bài viết nổi bật
	</h1>

	<!-- Đăng ký nhận tin mới -->
	<h1>
		Đăng ký nhận tin mới
	</h1>

	<!-- Tag cloud -->
<<<<<<< HEAD
	@await Component.InvokeAsync("TagsWidget")
					
=======
	<h1>
		Tag cloud
	</h1>
>>>>>>> 8f78ca59d326612ec5d6d800c3a2375fe0af6af1
</div>
